<div class="navBar">
    <h2>Welcome</h2>
    <ul class="menu">
        <li class="btn-grad">
            <span class="front fas fa-home"></span>
            <a class="side">Home</a>
            
        </li>
        <li class="btn-grad" routerLinkActive="active">
            <span class="front fas fa-globe-americas"></span>
            <a routerLink="/main/countries"  class="side">Countries</a>
        </li>
        <li class="btn-grad" routerLinkActive="active">
            <span class="front fas fa-user-tie"></span>
            <a routerLink="/main/actors" class="side">Actors</a>
        </li>
        <li class="btn-grad" routerLinkActive="active">
            <span class="front fas fa-film"></span>
            <a routerLink="/main/movies" class="side">Movies</a>
        </li>
        <li class="btn-grad" routerLinkActive="active">
            <span class="front fas fa-paper-plane"></span>
            <a href="#" class="side">Contact</a>
        </li>
    </ul>
</div>