.contenedor {
    border-radius: 30px;
    background: #1a1a1a;
    box-shadow: 20px 20px 21px #121212, -20px -20px 21px #222222;
    width: 90vw;
    height: 86vh;
    display: flex;
    padding: 0px;
    margin: 0px;
  }
.sidebar{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.childrens{
    width: 75%;
    height: 100%;
    margin-left: 3rem;
}
  